<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cad_clientes.Properties.Settings.clientesConnectionString"
            connectionString="Dsn=Cad_clientes;server=localhost;uid=root;database=clientes;port=3306"
            providerName="System.Data.Odbc" />
        <add name="cad_clientes.Properties.Settings.clientesConnectionString1"
            connectionString="Dsn=TesteVSC;server=localhost;uid=root;database=clientes;port=3306"
            providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>